!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %title Codebreaker
    %link{ rel: 'shortcut icon', href: 'img/favicon/favicon.ico', type: 'image/x-icon' }
    %link{ rel: 'stylesheet', href: 'css/application.css', type: 'text/css' }
  %body
    .container
      = render 'rules'
      -# Hello #{@request.session[:player_name]}
      = render 'hints'
      %p
        hints #{@request.session[:hints]}
        %br 
        hints_used #{@request.session[:hints_used]}
        %br
        total_attempts #{@request.session[:total_attempts]}
        %br
        match_result #{@request.session[:match_result]}
        %br
        turn #{@request.session[:turn]}
        %br
        turn_statistic #{@request.session[:turn_statistic]}
        %br ----------------------------------
        hints #{@game.hints}
        %br
        hints_used #{@game.hints_used}
        %br
        total_attempts #{@game.total_attempts}
        %br
        match_result #{@game.match_result}
        %br
        turn #{@game.turn}
        %br
        turn_statistic #{@game.turn_statistic}
        %br
        #{@game.code_view_with_hint}
        Params #{@request.params["player_code"]}
        -# #{input_data.to_s}
        -# #{@request.params["player_code"] == input_data.to_s}
        #{@statistic}
        #{@status}

        %form{ class: 'game', action: '/game', method: 'post' }
          .form-group.text-center
            %input{ class: 'form-control',
                    type: 'text',
                    name: 'player_code',
                    placeholder: 'Enter your codebreaker...',
                    pattern: '^[1-6]{4}$',
                    autofocus: 'true',
                    required: 'true' }
            %small{ id: 'gameHelp', class: 'form-text text-muted' }
              You should enter 4 digit from range 1..6
            %button{ type: 'submit', class: 'btn btn-block' }
              Check code

