%form{ class: 'game-session', action: '/game_session', method: 'post' }
  .form-group.text-center
    %input{ class: 'form-control',
            type: 'text',
            name: 'player_code',
            placeholder: 'Enter your codebreaker...',
            pattern: '^[1-6]{4}$',
            autofocus: 'true',
            required: 'true' }
    %small{ id: 'gameHelp', class: 'form-text text-muted' }
      You should enter 4 digit from range 1..6
    %button{ type: 'submit', class: 'btn btn-primary btn-block' }
      Check code

%p.turns
  Turns left: #{@request.session[:game].turn}
- if @request.session[:attempts].any? && @request.session[:attempts].last[:guess_result][:exact_hits] == 4
  %h3.won_msg You won! Congrats!
  %p Enter your name:
  %form.enter_name(action="/enter_name" method="post")
    %input(autofocus="" name="name" placeholder="John Doe" required="" type="text")/
    %br/
    %input(type="submit" value="Confirm")/
- elsif @request.session[:game].turn.zero?
  %h3.lost_msg You lost... Try again
- else
  %p Enter your guess:
  %form.submit_guess(action="/submit_guess" method="post")
    %input(autofocus="" name="guess" placeholder="****" required="" type="text")/
    %br/
    %input(type="submit" value="Submit guess")/
  
      %a.hint(action="/hint" method="post")
    %input(type="submit" value="Hint")/

  - if @request.session[:show_hint]
    %p.hint= @request.session[:hint]
- %i[notice_msg error_msg].each do |key|
  - if @request.session[key]
    %div(class="flash flash_#{key}")
      = @request.session[key]
    - @request.session[key] = nil
- unless @request.session[:attempts].empty?
  %table.attemtps
    %th.table_header(colspan="2") Attempts
    - @request.session[:attempts].each do |attemtp|
      %tr
        %td= attemtp[:guess]
        %td= '+' * attemtp[:guess_result][:exact_hits] + '-' * attemtp[:guess_result][:part_hits]